/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* Override default style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style bordy and anrrange elements */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 18, 24);
}

/* Style game console container and arrange content */
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style game console and arrange elements */
.roshamBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    margin: 1.8rem 0 1.5rem 0;
    background-image: url("https://images.unsplash.com/photo-1597495529689-45d6da6fcbac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Style led bar and arrange content */
.ledBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

/* Set default led style */
.led {
    border: 1px solid rgb(58, 105, 103);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    padding: 2px;
}

/* Set led flash animation keyframes */
@keyframes ledFlash {
    0% {background-color: black;}
    50% {background-color: white;}
    100% {background-color: black;}
}

/* Style display bar and arrange content */
.displayBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

/* Style screen border and arrange content */
.screenBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 34, 37, 0.973);
    border-radius: 40%;
    margin: 12px 2rem;
    padding: 16px;
}

/* Style display area and arrange content */
.displayArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 400px;
    position: relative;
    background-color: rgb(50, 70, 55);
    border-radius: 40%;
}

/* Set idle screen default parameters */
#idleScreen {
    display: none;
}

/* Set idle screen open state parameters */
#idleScreen.open {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    background-color: rgb(31, 34, 31);
}

/* Set start screen default parameters */
#startScreen {
    display: none;
}

/* Set start screen open state parameters */
#startScreen.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    padding: 2rem;
    background-color: rgb(15, 56, 15);
    font: 2rem 'VT323', sans-serif;
}

/* Style start screen content */
#loadAnim {
    width: 320px;
    height: 120px;
    border-radius: 40%;
}

#loadAnim > img {
    width: 320px;
    height: 120px;
    object-fit: cover;
    border-radius: inherit;
}

#startMsg,
#playMsg {
    text-align: center;
    color: rgb(155, 188, 15);
}

/* Style button bar and arrange elements */
.btnsBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
}

/* Style game buttons container */
.gameBtns {
    display: flex;
    justify-content: center;
    height: 8rem;
    gap: 1rem;
}

/* Set default game button style */
.gameBtns > button {
    background-color: rgb(10, 29, 28);
    border: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    outline: 0;
    padding: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
}

/* Set game button style before hover */
.gameBtns > button:before {
    background-color: initial;
    background-image: linear-gradient(rgb(255, 255, 255) 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 87%;
    left: 4%;
    opacity: .3;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 90%;
}

/* Style game button while hovered */
.gameBtns > button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 2px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

/* Align rock and scissors */
#rock,
#scissors {
    align-self: flex-start;
}

/* Style rock button default and on hover */
#rock {
    color: rgb(155, 93, 74);
}

#rock:hover {
    color: rgb(255, 60, 0);
}

/* Style paper button default and on hover */
#paper {
    color: rgb(89, 114, 25);
}

#paper:hover {
    color: rgb(173, 255, 47);
}

/* Style scissors button default and on hover */
#scissors {
    color: rgb(72, 72, 211);
}

#scissors:hover {
    color: rgb(0, 255, 255);
}

/* Style logo bar and arrange content */
.logoBar {
    display: flex;
}

/* Style footer and arrange content*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

