/* Override default style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style bordy and anrrange elements */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 18, 24);
}

/* Style game console container and arrange content */
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style game console and arrange elements */
.roshamBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    margin: 1.8rem 0 1.5rem 0;
    background-image: url("https://images.unsplash.com/photo-1597495529689-45d6da6fcbac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Style led bar and arrange content */
.ledBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

/* Set default led style */
.led {
    border: 1px solid rgb(58, 105, 103);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    padding: 2px;
}

/* Style display bar and arrange content */
.displayBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

/* Style button bar and arrange elements */
.btnsBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Style logo bar and arrange content */
.logoBar {
    display: flex;
}

/* Style footer and arrange content*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

